fieldset.cell-editor {
  outline: none;
  border: none;
}

.cell-outputs {
  display: block;
  width: content;
  height: content;
  overflow-wrap: anywhere;
}

.error {
  color: red;
}

fieldset.cell-outputs {
  outline: none;
  border: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

cell-type { 
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
}

cell-actions {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 0px;
  border-bottom: 1px solid gray;
}